# Игнорируем виртуальное окружение
.venv/
env/
venv/
myenv/
myvenv/

# Игнорируем файлы конфигурации с токенами
config.py

# Игнорируем кэшированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы с настройками IDE
.vscode/
.idea/

# Игнорируем скомпилированные байт-коды
*.pyo
*.pyd

# Игнорируем временные файлы
*.log
*.tmp

# Игнорируем файлы для macOS
.DS_Store

# Игнорируем файлы для Windows
Thumbs.db

# Игнорируем папку со скачанными видео
downloads/
